#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^fountaintechies.com [NC]
RewriteRule ^(.*)$ http://www.fountaintechies.com/$1 [L,R=301,NC]

#Redirect About Us

 RewriteRule /company/profile.html http://www.fountaintechies.com/about/