<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>fountaintechies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="description" content="fountaintechies - We create professional Apple iOS, Google Android and HTML5 applications"/>
        <meta name="keywords" content="fountaintechies, iOS, Android, Windows Phone, Mobile Applications, Mobile, Apps, Applications, Hybrid Applications, HTML5, Angular, AngularJS"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="fountaintechies"/>
        <meta property="og:url" content="http://www.fountaintechies.com/"/>
        <meta property="og:site_name" content="fountaintechies"/>
        <meta property="og:image" content="http://www.fountaintechies.com/images/af-og-image.jpg"/>
        <meta property="og:description" content="fountaintechies - We create professional Apple iOS, Google Android and HTML5 applications"/>
        <meta property="twitter:card" content="fountaintechies"/>
        <meta property="twitter:site" content="@fountaintechies"/>
        <meta property="twitter:creator" content=" @fountaintechies "/>
        <meta property="twitter:title" content="fountaintechies"/>
        <meta property="twitter:description" content="fountaintechies - We create professional Apple iOS, Google Android and HTML5 applications"/>
        <meta property="twitter:image" content="http://www.fountaintechies.com/images/af-og-image.jpg">
          <link rel="canonical" href="http://www.fountaintechies.com/">
            <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet" type="text/css">
              <link rel="stylesheet" href="assets/main-76c23bee270ceafbda6b8c37f78298bd.css" type="text/css"/>
              <link rel="stylesheet" href="assets/syntax-4e68be894597df37d65b26d04a07c779.css" type="text/css"/>
              <link rel="stylesheet" href="assets/lightbox-d09d49f017a9d99d1dc8fa3db247490c.css" type="text/css"/>
              <link rel="shortcut icon" href="favicon.ico">
                <script>!function(e,a,n,o,t,c,i){e.GoogleAnalyticsObject=t,e[t]=e[t]||function(){(e[t].q=e[t].q||[]).push(arguments)},e[t].l=1*new Date,c=a.createElement(n),i=a.getElementsByTagName(n)[0],c.async=1,c.src=o,i.parentNode.insertBefore(c,i)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-52602147-1",{cookieName:"AppFoundry_GA",cookieDomain:"appfoundry.be",cookieExpires:2419200}),ga("send","pageview")</script>
                <script>!function(){if("-ms-user-select"in document.documentElement.style&&navigator.userAgent.match(/IEMobile\/10\.0/)){var e=document.createElement("style");e.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}")),document.getElementsByTagName("head")[0].appendChild(e)}}()</script>
              </head>
              <body ng-app="app" ng-class="{chrome: chrome}">
                <h1 class="sr-only">fountaintechies</h1>
                <div class="navbar navbar-orange navbar-default navbar-fixed-top" role="navigation" animated-navigation="" ng-controller="navbarController">
                  <div class="container" style="position:relative">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" ng-click="collapse.open = !collapse.open">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                      </button>
                      <a class="navbar-brand is-hidden" href="index.html" animated-navigation-logo="">
                        <i class="navbar-brand-icon">
                        </i>
                        <div class="navbar-brand-text">fountaintechies</div>
                        <!-- <img src="images/logo_fountaintechies-white.png" height="50" style="padding: 5px;"> --></a>
                    </div>
                    <div class="navbar-collapse collapse" ng-class="{in: collapse.open}">
                      <ul class="nav navbar-nav navbar-right is-hidden" animated-navigation-navigation="">
                        <li>
                          <a class="page-link About Us" href="about/index.html">About Us</a>
                        </li>
                        <li>
                          <a class="page-link Blog" href="blog/index.html">Blog</a>
                        </li>
                        <li>
                          <a class="page-link Clients" href="clients/index.html">Clients</a>
                        </li>
                        <li>
                          <a class="page-link Contact" href="contact/index.html">Contact</a>
                        </li>
                        <li>
                          <a class="page-link Jobs" href="jobs/index.html">Jobs</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <header id="header" class="header header-background-image">
                  <div class="overlay">
                    <div class="container">
                      <div class="row header-wrapper">
                        <div class="col-lg-6 col-md-6 col-sm-12 header-teaser">
                          <article>
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-smaller-12">
                                <hgroup>
                                  <div class="title-label">
                                    <h3 class="header-teaser-title title-label-title">Fountain-beaconify</h3>
                                  </div>
                                  <h2 class="header-teaser-title">Fountain iBeacons</h2>
                                </hgroup>
                                <div class="header-teaser-content"> March 2015, fountaintechies loves to embrace iBeacons in a variety of ways. Retail solutions, especially in the fashion industry will be the next field to enter, as fountaintechies is experienced with fashion apps. Additionally, fountaintechies  is currently involved in a multitude of real estate projects, where the new technology could be the next stepping stone in connected homes.</div>
                                <div class="header-teaser-read-more">
                                  <a class="btn" href="blog/2015/03/02/ibeacons/index.html"> Read more </a>
                                </div>
                              </div>
<!--                               <div class="col-lg-4 col-md-5 col-sm-4 col-smaller-4 hidden-xs visible-smaller-block header-teaser-image">
                                <img src="images/carousel/Moto_360_DJC.png"/>
                              </div> -->
                            </div>
                          </article>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 hidden-xs visible-smaller-block"  style="text-align:center;">
                        <img src="images/ibeacons.png" style="padding: 0px 0px 50px 0px;" alt="ibeacons connected mobiles hyperlocal contextual marketing" width="250">
                       </div>
                  <a href="jobs/index.html" title="jobs" class="jobs-teaser">
                    <span class="jobs-teaser-text sr-only">We're hiring</span>
                  </a>
                </header>
                <section id="about-us" class="homepage-section about-us-section turquoise border-top-bottom" style="display:table;height:100%;width:100%">
                  <div class="section-content" style="display:table-cell;height:100%;width:100%;vertical-align:middle">
                    <div class="container">
                      <h2 class="sr-only">Mobile connoisseurs</h2>
                      <div class="row">
                        <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-12">
                          <div class="row homepage-row">
                            <article class="col-md-4 about-us-block">
                              <div class="about-us-inner">
                                      <img srcset="images/web.png" alt="web development web design" width="200" class="about-us-visual"/>
                                    <hgroup>
                                      <h2 class="about-us-title">Web Development</h2>
                                    </hgroup>
                                    <p style="text-align: justify;"><strong>The First Step</strong><br/>The internet is nothing new, but the technologies we are specializing in, such as HTML5, AngularJS and NodeJS to create awesome user experience are. Our websites not only display content, but engage the user with the content, making lasting impressions, no matter whether you browse on a desktop, tablet or phone.</p>
                                    </div>
                                </article>
                                <article class="col-md-4 about-us-block">
                                  <div class="about-us-inner">
                                      <img srcset="images/mobile.png" alt="app development mobile development" width="200" class="about-us-visual"/>
                                        <hgroup>
                                          <h2 class="about-us-title">Mobile Apps</h2>
                                        </hgroup>
                                        <p style="text-align: justify;"><strong>Getting Serious</strong><br/>While the mobile revolution is continuing to change the way we use the internet, apps are a neat way to give your customer the extra of engagement that the web just won’t. With the ability of push notifications and convenient information such as GPS. We build feature rich mobile applications, leveraging advanced hybrid mobile app frameworks, such as Ionic.</p>
                                      </div>
                                    </article>
                                    <article class="col-md-4 about-us-block">
                                      <div class="about-us-inner">
                                        <img srcset="images/beacon_45.png" alt="iBeacon beacon technology" width="200" class="about-us-visual"/>
                                            <hgroup>
                                              <h2 class="about-us-title">iBeacon Apps</h2>
                                            </hgroup>
                                            <p style="text-align: justify;"><strong>Back to Real Life</strong><br/>Beacons are a completely new way to interact with your smartphone and more importantly the environment. With the use of BLE (Bluetooth Low Energy/Bluetooth Smart), beacons creates a user experience that blur the boundaries between the real and digital world, enabling hyper local and contextual information, making it the next stepping stone in marketing.</p>
                                          </div>
                                        </article>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <a href="index.html#" class="show-bottom" scroll-button data-to="articles">
                                  <i class="fa fa-chevron-down">
                                  </i>
                                </a>
                              </div>
                            </section>
                            <section id="articles" class="articles articles-section light border-bottom">
                              <a href="blog/index.html" class="section-button" title="View all articles">
                                <i class="fa fa-eye">
                                  </i> View all articles </a>
                                  <div class="section-content" style="">
                                    <div class="container">
                                      <div class="row">
                                        <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-12">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <hgroup>
                                                <h1 class="section-title">Recent articles</h1>
                                              </hgroup>
                                            </div>
                                          </div>
                                          <a class="post-link" href="blog/2015/03/02/ibeacons/index.html">
                                            <article class="row teaser-post post-type-beacon">
                                              <div class="col-md-3 col-xs-2">
                                                <div>
                                                  <div class="teaser-post-icon">
                                                    <div class="icon-wrapper">
                                                      <i class="fa fa-bullseye">
                                                      </i>
                                                    </div>
                                                  </div>
                                                  <div class="teaser-post-categories"> Categories:<div class="teaser-post-categories-list">
                                                    <span class="post-category strong">ibeacon</span> | location based | contextual marketing | BLE</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9 col-xs-10">
                                                <div class="teaser-post-content arrow-left">
                                                  <hgroup>
                                                    <h2>iBeacon App Ideas</h2>
                                                  </hgroup>
                                                  <p class="teaser-post-date">Mar 02, 2015 • Amol Chawathe</p>
                                                  <p> fountaintechies R&amp;D is happy to share some innovative iBeacon ideas to make some exciting apps.</p>
                                                </div>
                                              </div>
                                            </article>
                                          </a>
                                          <a class="post-link" href="blog/2015/03/25/angular-grunt/index.html">
                                            <article class="row teaser-post post-type-html5">
                                              <div class="col-md-3 col-xs-2">
                                                <div>
                                                  <div class="teaser-post-icon">
                                                    <div class="icon-wrapper">
                                                      <i class="fa fa-html5">
                                                      </i>
                                                    </div>
                                                  </div>
                                                  <div class="teaser-post-categories"> Categories:<div class="teaser-post-categories-list">
                                                    <span class="post-category strong">AngularJS</span> | HTML5 | grunt | ionic</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9 col-xs-10">
                                                <div class="teaser-post-content arrow-left">
                                                  <hgroup>
                                                    <h2>Making your AngularJS application grunt</h2>
                                                  </hgroup>
                                                  <p class="teaser-post-date">Mar 25, 2015 • Amol Chawathe</p>
                                                  <p> A while back I wrote a small application to show you the main components of AngularJS, demonstrating controllers, services, filters and (custom) directives. In this tutorial I’m going to modify that application a bit and integrate GruntJS into it.</p>
                                                </div>
                                              </div>
                                            </article>
                                          </a>
                                          <a class="post-link" href="blog/2015/03/25/angular-forms/index.html">
                                            <article class="row teaser-post post-type-html5">
                                              <div class="col-md-3 col-xs-2">
                                                <div>
                                                  <div class="teaser-post-icon">
                                                    <div class="icon-wrapper">
                                                      <i class="fa fa-html5">
                                                      </i>
                                                    </div>
                                                  </div>
                                                  <div class="teaser-post-categories"> Categories:<div class="teaser-post-categories-list">
                                                    <span class="post-category strong">AngularJS</span> | HTML5 | validation | ionic</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9 col-xs-10">
                                                <div class="teaser-post-content arrow-left">
                                                  <hgroup>
                                                    <h2>Angular-powered Forms</h2>
                                                  </hgroup>
                                                  <p class="teaser-post-date">Mar 25, 2015 • Amol Chawathe</p>
                                                  <p> In the previous tutorials about AngularJS I already used some forms, but I never went into detail about them or about form validation. In this tutorial that will probably change, as I will explain you how you could use AngularJS validation and write your own custom validators.</p>
                                                </div>
                                              </div>
                                            </article>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
<!--                                     <a href="index.html#" class="show-bottom" scroll-button data-to="tweets">
                                      <i class="fa fa-chevron-down">
                                      </i>
                                    </a> -->
                                  </div>
                                </section>
                                <section id="map" class="map-holder maps border-top-bottom" lazy-load="gmaps" data-triggered="false" itemscope itemtype="http://data-vocabulary.org/Organization">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-12">
                                        <hgroup>
                                          <h1 class="section-title">Where to find us?</h1>
                                        </hgroup>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="loading-overlay" ng-if="!gmaps.load">
                                    <img ng-src="images/ajax-loader.gif" alt="ajax-loader"/> Loading</div>
                                    <a href="https://www.google.com/maps/place/1%C2%B016'53.32%22N+103%C2%B050'56.55%22E" target="_blank" class="section-button" title="Veldkant 33 on Google maps">
                                      <i class="fa fa-map-marker">
                                        </i> View on Google</a>
                                        <div class="map" google-map="" id="map-canvas">
                                        </div>
                                        <div class="map-overlay" style="display: inline-flex;">
                                          <div class="container">
                                            <div class="row">
                                              <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-4">
                                                <address>
                                                  <h2 itemprop="name">Fountain Technologies Pte. Ltd.</h2>
                                                  <p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                                    <span itemprop="street-address">100 Cecil Street</span>
                                                    <br/>
                                                    <span itemprop="street-address">10th Floor</span>
                                                    <br/>
                                                    <span itemprop="postal-code">069532</span>
                                                    <span itemprop="locality">Singapore</span>
                                                    <br/>
                                                    <span itemprop="country-name">Singapore</span>
                                                  </p>
                                                </address>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="map-overlay" style="display: inline-flex;">
                                          <div class="container">
                                            <div class="row">
                                              <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-4" style="margin: 0 50%;">
                                                <address>
                                                  <h2 itemprop="name">Fountain Technologies Pte. Ltd.</h2>
                                                  <p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                                    <span itemprop="street-address">307 Mittal Chambers</span>
                                                    <br/>
                                                    <span itemprop="street-address">J M Road</span>
                                                    <br/>
                                                    <span itemprop="postal-code">411005</span>
                                                    <span itemprop="locality">Pune</span>
                                                    <br/>
                                                    <span itemprop="country-name">India</span>
                                                  </p>
                                                </address>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </section>
                                      <section id="contact" class="dark footer border-top contact xs-margin sm-margin md-margin" footer-element="">
                                        <div class="container">
                                          <div class="row">
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-phone">
                                                </i>
                                                <h3 class="contact-title">Give us a call!</h3>
                                                <h4 class="contact-label">
                                                  <a href="tel:006586737532">+65 8673 7532</a>
                                                </h4>
                                              </div>
                                            </div>
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-envelope">
                                                </i>
                                                <h3 class="contact-title"> Send us an email!</h3>
                                                <h4 class="contact-label">
                                                  <a href="mailto:info@fountaintechies.com">info@fountaintechies.com</a>
                                                </h4>
                                              </div>
                                            </div>
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-twitter">
                                                </i>
                                                <h3 class="contact-title"> Follow us!</h3>
                                                <h4 class="contact-label">
                                                  <a href="https://twitter.com/fountaintechies" target="_blank">@fountaintechies</a>
                                                </h4>
                                              </div>
                                            </div>
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-github-alt">
                                                </i>
                                                <h3 class="contact-title"> Fork us on GitHub!</h3>
                                                <h4 class="contact-label">
                                                  <a href="https://github.com/fountaintechies" target="_blank">fountaintechies</a>
                                                </h4>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                      <div class="align-center dark footer border-bottom">
                                        <p class="copyright">
                                          <small>&copy; 2015 Fountain Technologies Pte. Ltd.</small>
                                        </p>
                                      </div>
                                      <script src="assets/app-fb0e394c60653852f6abd8bed493720e.js">
                                      </script>
                                      <script src="assets/vendor/lightbox.min-c88dcd8d658bb8192df1f50fb6d4ccba.js">
                                      </script>
                                    </body>
                                  </html>
