<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AppFoundry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="description" content="AppFoundry - We create professional Apple iOS, Google Android and HTML5 applications"/>
        <meta name="keywords" content="AppFoundry, iOS, Android, Windows Phone, Mobile Applications, Mobile, Apps, Applications, Hybrid Applications, HTML5, Angular, AngularJS"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="AppFoundry"/>
        <meta property="og:url" content="http://www.appfoundry.be/"/>
        <meta property="og:site_name" content="AppFoundry"/>
        <meta property="og:image" content="http://www.appfoundry.be/images/af-og-image.jpg"/>
        <meta property="og:description" content="AppFoundry - We create professional Apple iOS, Google Android and HTML5 applications"/>
        <meta property="twitter:card" content="AppFoundryBE"/>
        <meta property="twitter:site" content="@AppFoundryBE"/>
        <meta property="twitter:creator" content=" @AppFoundryBE "/>
        <meta property="twitter:title" content="AppFoundry"/>
        <meta property="twitter:description" content="AppFoundry - We create professional Apple iOS, Google Android and HTML5 applications"/>
        <meta property="twitter:image" content="http://www.appfoundry.be/images/af-og-image.jpg">
          <link rel="canonical" href="http://www.appfoundry.be/">
            <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet" type="text/css">
              <link rel="stylesheet" href="assets/main-76c23bee270ceafbda6b8c37f78298bd.css" type="text/css"/>
              <link rel="stylesheet" href="assets/syntax-4e68be894597df37d65b26d04a07c779.css" type="text/css"/>
              <link rel="stylesheet" href="assets/lightbox-d09d49f017a9d99d1dc8fa3db247490c.css" type="text/css"/>
              <link rel="shortcut icon" href="favicon.ico">
                <script>!function(e,a,n,o,t,c,i){e.GoogleAnalyticsObject=t,e[t]=e[t]||function(){(e[t].q=e[t].q||[]).push(arguments)},e[t].l=1*new Date,c=a.createElement(n),i=a.getElementsByTagName(n)[0],c.async=1,c.src=o,i.parentNode.insertBefore(c,i)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-52602147-1",{cookieName:"AppFoundry_GA",cookieDomain:"appfoundry.be",cookieExpires:2419200}),ga("send","pageview")</script>
                <script>!function(){if("-ms-user-select"in document.documentElement.style&&navigator.userAgent.match(/IEMobile\/10\.0/)){var e=document.createElement("style");e.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}")),document.getElementsByTagName("head")[0].appendChild(e)}}()</script>
              </head>
              <body ng-app="app" ng-class="{chrome: chrome}">
                <h1 class="sr-only">Appfoundry</h1>
                <div class="navbar navbar-orange navbar-default navbar-fixed-top" role="navigation" animated-navigation="" ng-controller="navbarController">
                  <div class="container" style="position:relative">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" ng-click="collapse.open = !collapse.open">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                      </button>
                      <a class="navbar-brand is-hidden" href="index.html" animated-navigation-logo="">
                        <i class="navbar-brand-icon">
                        </i>
                        <div class="navbar-brand-text">AppFoundry</div>
                      </a>
                    </div>
                    <div class="navbar-collapse collapse" ng-class="{in: collapse.open}">
                      <ul class="nav navbar-nav navbar-right is-hidden" animated-navigation-navigation="">
                        <li>
                          <a class="page-link About Us" href="about/index.html">About Us</a>
                        </li>
                        <li>
                          <a class="page-link Blog" href="blog/index.html">Blog</a>
                        </li>
                        <li>
                          <a class="page-link Clients" href="clients/index.html">Clients</a>
                        </li>
                        <li>
                          <a class="page-link Contact" href="contact/index.html">Contact</a>
                        </li>
                        <li>
                          <a class="page-link Jobs" href="jobs/index.html">Jobs</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <header id="header" class="header header-background-image">
                  <div class="overlay">
                    <div class="container">
                      <div class="row header-wrapper">
                        <div class="col-lg-8 col-md-8 col-sm-12 header-teaser">
                          <article>
                            <div class="row">
                              <div class="col-lg-8 col-md-7 col-sm-8 col-smaller-8">
                                <hgroup>
                                  <div class="title-label">
                                    <h3 class="header-teaser-title title-label-title">In The Picture</h3>
                                  </div>
                                  <h2 class="header-teaser-title">Belfius Wearables</h2>
                                </hgroup>
                                <div class="header-teaser-content"> Late November 2014, Belfius Bank announced a first in the Belgian mobile banking world: the 'Belfius Direct Wear' smartwatch application. At AppFoundry we're very proud to have been able to work together with Belfius in making this possible.</div>
                                <div class="header-teaser-read-more">
                                  <a class="btn" href="blog/2014/12/15/belfius-direct-wear/index.html"> Read more </a>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-5 col-sm-4 col-smaller-4 hidden-xs visible-smaller-block header-teaser-image">
                                <img src="images/carousel/Moto_360_DJC.png"/>
                              </div>
                            </div>
                          </article>
                        </div>
                        <div class="col-lg-3 col-lg-push-1 col-md-3 col-md-push-1 col-sm-12 hidden-xs visible-smaller-block">
                          <aside class="recent-changes">
                            <div class="title-label">
                              <h3 class="title-label-title">Recent changes</h3>
                            </div>
                            <ul class="list-unstyled recent-changes-list">
                              <li>
                                <a class="recent-changes-teaser" href="blog/2014/12/15/belfius-direct-wear/index.html">
                                  <div class="recent-changes-teaser-icon">
                                    <div class="icon-wrapper">
                                      <i class="fa fa-android">
                                      </i>
                                    </div>
                                  </div>
                                  <div class="recent-changes-teaser-content">
                                    <div>Belfius Direct Wear</div>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a class="recent-changes-teaser" href="blog/2014/11/18/Google-Play-Services-Dynamic-Security-Provider/index.html">
                                  <div class="recent-changes-teaser-icon">
                                    <div class="icon-wrapper">
                                      <i class="fa fa-android">
                                      </i>
                                    </div>
                                  </div>
                                  <div class="recent-changes-teaser-content">
                                    <div>Google Play Services Dynamic Security Provider</div>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a class="recent-changes-teaser" href="blog/2014/11/12/devoxx/index.html">
                                  <div class="recent-changes-teaser-icon">
                                    <div class="icon-wrapper">
                                      <i class="icon-af-logo">
                                      </i>
                                    </div>
                                  </div>
                                  <div class="recent-changes-teaser-content">
                                    <div>Devoxx 2014</div>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </aside>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="jobs/index.html" title="jobs" class="jobs-teaser">
                    <span class="jobs-teaser-text sr-only">We're hiring</span>
                  </a>
                </header>
                <section id="about-us" class="homepage-section about-us-section turquoise border-top-bottom" style="display:table;height:100%;width:100%">
                  <div class="section-content" style="display:table-cell;height:100%;width:100%;vertical-align:middle">
                    <div class="container">
                      <h2 class="sr-only">Mobile connoisseurs</h2>
                      <div class="row">
                        <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-12">
                          <div class="row homepage-row">
                            <article class="col-md-4 about-us-block">
                              <div class="about-us-inner">
                                <picture>
                                  <!--[if IE 9]>
                                  <video style="display:none">
                                    <![endif]-->
                                    <source srcset="images/visual-c-250.png, images/visual-c@2x.png 2x" media="(min-width: 768px)">
                                      <source srcset="images/visual-c-200.png, images/visual-c@2x.png 2x">
                                        <!--[if IE 9]>
                                      </video>
                                      <![endif]-->
                                      <img srcset="images/visual-c-250.png" alt="" class="about-us-visual"/>
                                    </picture>
                                    <hgroup>
                                      <h2 class="about-us-title">A solid history,<br/> to build a bright future</h2>
                                    </hgroup>
                                    <p> AppFoundry is a company of professional &amp; enthusiastic app developers. We started out as iDA MediaFoundry back in 2006, so we’ve been around for a while. Our sole focus is frontend development and helping you deliver awesome apps, made by awesome people!</p>
                                  </div>
                                </article>
                                <article class="col-md-4 about-us-block">
                                  <div class="about-us-inner">
                                    <picture>
                                      <!--[if IE 9]>
                                      <video style="display:none">
                                        <![endif]-->
                                        <source srcset="images/visual-b-250.png, images/visual-b@2x.png 2x" media="(min-width: 768px)">
                                          <source srcset="images/visual-b-200.png, images/visual-b@2x.png 2x">
                                            <!--[if IE 9]>
                                          </video>
                                          <![endif]-->
                                          <img srcset="images/visual-b-250.png" alt="" class="about-us-visual"/>
                                        </picture>
                                        <hgroup>
                                          <h2 class="about-us-title">We try to capture the future for your app today</h2>
                                        </hgroup>
                                        <p> We work with proven current technologies &amp; platforms like Apple iOS, Google Android, Windows Phone and mature HTML5 frameworks such as AngularJS &amp; Sencha Touch/ExtJS.<br/> Nonetheless we're always on the lookout for the next big thing, making your investment guaranteed and future-proof.</p>
                                      </div>
                                    </article>
                                    <article class="col-md-4 about-us-block">
                                      <div class="about-us-inner">
                                        <picture>
                                          <!--[if IE 9]>
                                          <video style="display:none">
                                            <![endif]-->
                                            <source srcset="images/visual-a-250.png, images/visual-a@2x.png 2x" media="(min-width: 768px)">
                                              <source srcset="images/visual-a-200.png, images/visual-a@2x.png 2x">
                                                <!--[if IE 9]>
                                              </video>
                                              <![endif]-->
                                              <img srcset="images/visual-a-250.png" alt="" class="about-us-visual"/>
                                            </picture>
                                            <hgroup>
                                              <h2 class="about-us-title">Start-up or established value? We want to hear your story!</h2>
                                            </hgroup>
                                            <p> By thinking along with you and offering high value company critical applications, AppFoundry is already a valued technology partner for many satisfied customers. These range from small &amp; mid-sized companies to government related organisations.</p>
                                          </div>
                                        </article>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <a href="index.html#" class="show-bottom" scroll-button data-to="articles">
                                  <i class="fa fa-chevron-down">
                                  </i>
                                </a>
                              </div>
                            </section>
                            <section id="articles" class="articles articles-section light border-bottom">
                              <a href="blog/index.html" class="section-button" title="View all articles">
                                <i class="fa fa-eye">
                                  </i> View all articles </a>
                                  <div class="section-content" style="">
                                    <div class="container">
                                      <div class="row">
                                        <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-12">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <hgroup>
                                                <h1 class="section-title">Recent articles & events</h1>
                                              </hgroup>
                                            </div>
                                          </div>
                                          <a class="post-link" href="blog/2014/12/15/belfius-direct-wear/index.html">
                                            <article class="row teaser-post post-type-android">
                                              <div class="col-md-3 col-xs-2">
                                                <div>
                                                  <div class="teaser-post-icon">
                                                    <div class="icon-wrapper">
                                                      <i class="fa fa-android">
                                                      </i>
                                                    </div>
                                                  </div>
                                                  <div class="teaser-post-categories"> Categories:<div class="teaser-post-categories-list">
                                                    <span class="post-category strong">Android</span> | Belfius | mobile | android wear | wearables</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9 col-xs-10">
                                                <div class="teaser-post-content arrow-left">
                                                  <hgroup>
                                                    <h2>Belfius Direct Wear</h2>
                                                  </hgroup>
                                                  <p class="teaser-post-date">Dec 15, 2014 • Bart Vandeweerdt</p>
                                                  <p> Late November 2014, Belfius Bank announced a first in the Belgian mobile banking world: the 'Belfius Direct Wear' smartwatch application. At AppFoundry we're very proud to have been able to work together with Belfius in making this possible.</p>
                                                </div>
                                              </div>
                                            </article>
                                          </a>
                                          <a class="post-link" href="blog/2014/11/18/Google-Play-Services-Dynamic-Security-Provider/index.html">
                                            <article class="row teaser-post post-type-android">
                                              <div class="col-md-3 col-xs-2">
                                                <div>
                                                  <div class="teaser-post-icon">
                                                    <div class="icon-wrapper">
                                                      <i class="fa fa-android">
                                                      </i>
                                                    </div>
                                                  </div>
                                                  <div class="teaser-post-categories"> Categories:<div class="teaser-post-categories-list">
                                                    <span class="post-category strong">Android</span> | security | Google Play Services</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9 col-xs-10">
                                                <div class="teaser-post-content arrow-left">
                                                  <hgroup>
                                                    <h2>Google Play Services Dynamic Security Provider</h2>
                                                  </hgroup>
                                                  <p class="teaser-post-date">Nov 18, 2014 • Filip Maelbrancke</p>
                                                  <p> A quick look into the Google Play Services Dynamic Security Provider</p>
                                                </div>
                                              </div>
                                            </article>
                                          </a>
                                          <a class="post-link" href="blog/2014/11/12/devoxx/index.html">
                                            <article class="row teaser-post post-type-devoxx">
                                              <div class="col-md-3 col-xs-2">
                                                <div>
                                                  <div class="teaser-post-icon">
                                                    <div class="icon-wrapper">
                                                      <i class="icon-af-logo">
                                                      </i>
                                                    </div>
                                                  </div>
                                                  <div class="teaser-post-categories"> Categories:<div class="teaser-post-categories-list">
                                                    <span class="post-category strong">devoxx</span> | mobile | scheduler | hunt</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9 col-xs-10">
                                                <div class="teaser-post-content arrow-left">
                                                  <hgroup>
                                                    <h2>Devoxx 2014</h2>
                                                  </hgroup>
                                                  <p class="teaser-post-date">Nov 12, 2014 • Bart Vandeweerdt</p>
                                                  <p> This week, Devoxx Belgium again welcomes around 3.500 developers from 40 different countries to attend its 5 day development conference. We're proud to have been able to play a part in the mobile experience for this year's Devoxxians.</p>
                                                </div>
                                              </div>
                                            </article>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                    <a href="index.html#" class="show-bottom" scroll-button data-to="tweets">
                                      <i class="fa fa-chevron-down">
                                      </i>
                                    </a>
                                  </div>
                                </section>
                                <section id="tweets">
                                  <section class="tweets yellow border-bottom">
                                    <div class="container">
                                      <div class="row">
                                        <div class="tweets-title col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0">
                                          <h1>Our tweets</h1>
                                        </div>
                                        <div class="tweets-content col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 arrow-left">
                                          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/appfoundrybe" data-widget-id="484630535923175425" data-tweet-limit="3" data-chrome="nofooter transparent noheader noscrollbar noborders" data-link-color="#ffffff">
                                          </a>
                                          <script>!function(t,e,r){var n,s=t.getElementsByTagName(e)[0],i=/^http:/.test(t.location)?"http":"https";t.getElementById(r)||(n=t.createElement(e),n.id=r,n.src=i+"://platform.twitter.com/widgets.js",s.parentNode.insertBefore(n,s))}(document,"script","twitter-wjs")</script>
                                        </div>
                                      </div>
                                    </div>
                                    <a href="index.html#" class="show-bottom" scroll-button data-to="cases">
                                      <i class="fa fa-chevron-down">
                                      </i>
                                    </a>
                                  </section>
                                </section>
                                <section id="map" class="map-holder maps border-top-bottom" lazy-load="gmaps" data-triggered="false" itemscope itemtype="http://data-vocabulary.org/Organization">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-12">
                                        <hgroup>
                                          <h1 class="section-title"> How to reach us?</h1>
                                        </hgroup>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="loading-overlay" ng-if="!gmaps.load">
                                    <img ng-src="images/ajax-loader.gif" alt="ajax-loader"/> Loading</div>
                                    <a href="https://www.google.com/maps/place/51%C2%B008'29.1%22N+4%C2%B026'30.5%22E/@51.1414084,4.441816,15z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=nl-NL" target="_blank" class="section-button" title="Veldkant 33 on Google maps">
                                      <i class="fa fa-map-marker">
                                        </i> View on Google</a>
                                        <div class="map" google-map="" id="map-canvas">
                                        </div>
                                        <div class="map-overlay">
                                          <div class="container">
                                            <div class="row">
                                              <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-push-0 col-md-4">
                                                <address>
                                                  <h2 itemprop="name">AppFoundry</h2>
                                                  <p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                                    <span itemprop="street-address">Veldkant 35b</span>
                                                    <br/>
                                                    <span itemprop="postal-code">B-2550</span>
                                                    <span itemprop="locality">Kontich</span>
                                                    <br/>
                                                    <span itemprop="country-name">Belgium</span>
                                                  </p>
                                                </address>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                      <section id="contact" class="dark footer border-top contact xs-margin sm-margin md-margin" footer-element="">
                                        <div class="container">
                                          <div class="row">
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-phone">
                                                </i>
                                                <h3 class="contact-title">Give us a call!</h3>
                                                <h4 class="contact-label">
                                                  <a href="tel:86737532">+65  867 37532</a>
                                                </h4>
                                              </div>
                                            </div>
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-envelope">
                                                </i>
                                                <h3 class="contact-title"> Send us an email!</h3>
                                                <h4 class="contact-label">
                                                  <a href="mailto:info@fountaintechies.com">info@fountaintechies.com</a>
                                                </h4>
                                              </div>
                                            </div>
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-twitter">
                                                </i>
                                                <h3 class="contact-title"> Follow us!</h3>
                                                <h4 class="contact-label">
                                                  <a href="https://twitter.com/fountaintechies" target="_blank">@AppFoundryBE</a>
                                                </h4>
                                              </div>
                                            </div>
                                            <div class="contact-col col-xs-12 col-sm-3 col-md-3 align-center">
                                              <div class="row">
                                                <i class="contact-icon fa fa-github-alt">
                                                </i>
                                                <h3 class="contact-title"> Fork us on GitHub!</h3>
                                                <h4 class="contact-label">
                                                  <a href="https://github.com/fountaintechies" target="_blank">AppFoundry</a>
                                                </h4>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                      <div class="align-center dark footer border-bottom">
                                        <p class="copyright">
                                          <small>© 2015 Fountaintechies Pte. Ltd. </small>
                                        </p>
                                      </div>
                                      <script src="assets/app-fb0e394c60653852f6abd8bed493720e.js">
                                      </script>
                                      <script src="assets/vendor/lightbox.min-c88dcd8d658bb8192df1f50fb6d4ccba.js">
                                      </script>
                                    </body>
                                  </html>
