/*color codes within fountaintechies*/

.bgcolor_darkblue{
	background-color: rgb(22,38,78);
}

.bgcolor_blue{
	background-color: rgb(25,100,127);
}

.bgcolor_purple{
	background-color: rgb(92,43,127);
}

.bgcolor_teal{
	background-color: rgb(26,151,166);
}

.bgcolor_tiffany{
	background-color: rgb(74,197,222);
}
.bgcolor_gray1{
	background-color: rgb(31,50,72);
}

.bgcolor_gray2{
	background-color: rgb(91,110,131);
}

.bgcolor_gray3{
	background-color: rgb(129,147,165);
}

.bgcolor_gray4{
	background-color: rgb(145,160,175);
}

.bgcolor_gray5{
	background-color: rgb(183,195,206);
}

.bgcolor_gray6{
	background-color: rgb(217,226,232);
}

.bgcolor_gray7{
	background-color: rgb(240,246,250);
}


