<section id="aboutsection" style="position:relative;">
    <div class="text-center">
        <h2 class="pagetitle" style="text-align:right;">Tired of the over-charging dinosaurs out there?<br/>Try Xcellen</h2>
    </div>
        <div style="height: 500px; padding: 25px;">
            <div style="display: inline-block; margin-right: 50px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.8184030510915!2d103.84978699999999!3d1.28278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x4336ad039df8fe9a!2sPrudential+Tower!5e0!3m2!1sen!2suk!4v1425553424007" width="500" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div style="display: inline-block; vertical-align:top; text-align: right; width: 500px; height: 120px; margin: 190px 0;">
            <address>
            <b>Xcellen</b><br>
              30 Cecil Street | #19-08 | Prudential Tower<br>
              049712 | Singapore<br>
             +65 9004 6911<br/>
             <a href="mailto:info@xcellen.com">info@xcellen.com</a>
            </address>   
            </div>
        </div>
</section>
