<section class="subpage">
    <div class="text-center">
        <h2 class="pagetitle">Leadership Team</h2>
    </div>
    <div class="container" id="leadres">
    <div class="text-center">
        <div style="display:inline-flex; max-width: 500px; margin-right: 50px; margin-left: 50px; position:relative;">
            <h4><a href="mailto:pkommisar@xcellen.com">Pablo Kommisar;</a> Partner</h4>
                    <p style="text-align: justify;"><b>Pablo</b> is Xcellen managing partner. He has an impressive track record in increasing the effectiveness of marketing and sales operations for many of the top global pharmaceutical and consumer health companies.<br/>Previous to starting Xcellen Pablo was a Principal at IMS Health and before that a Manager at ZS Associates. He has worked in 30 countries across Africa, America, Asia, Europe and the Middle East; and lived in Brazil, United Kingdom, Belgium, Poland, Switzerland and Singapore.<br/>Pablo has a degree in aeronautical engineering from ITA, Brazil and an MBA from Cranfield School of Management, UK.</p>
                    <img src="img/person6.jpg" alt="" style="border:1px solid #fff; border-radius:50px; position: absolute; left: 45px; top: 120px; opacity: 0;" />
        </div>

                <div style="display:inline-flex; max-width: 500px; margin-right: 50px; margin-left: 50px; position:relative;">
            <h4><a href="mailto:alcastro@xcellen.com">Al Castro;</a><br/>Company Advisor and Representative in the Philippines</h4>
                    <p style="text-align: justify;">More to come — bear with us.</p>
                    <img src="img/person6.jpg" alt="" style="border:1px solid #fff; border-radius:50px; position: absolute; left: 120px; top: 120px; opacity: 0;" />
        </div>
    </div>

    </div>
</section>
<section id="aboutsection">
    <div class="text-center">
        <h2 class="pagetitle">Towards excellence</h2>
    </div>
        <div style="display:inline-flex; height: 300px; max-width: 500px; margin-right: 50px; margin-left: 50px;">
            <p style="text-align: justify;">Xcellen came to be in response to unmet market needs.<br/><br/>Companies recognize that increasing productivity of their commercial operations is priority, but complain that traditional vendors became complacent, quality is erratic and prices are unrealistic. Xcellen delivers superior quality and outstanding customer service at a price, which is aligned to market realities.</p>
        </div>
        <div style="display:inline-flex; height: 300px; max-width: 500px;">
            <p style="text-align: justify;"><b>What defines Xcellen</b><br/>Expertise in commercial excellence; gained by working with most of the global players, RX, GX, OTC, and OTX environments, in more than 35 countries Understanding of Asia’s market dynamics, data availability, data constrains and limitations.<br/><br/><b>Obsession with quality</b><br/>Value; due to high quality, low cost base and fair margins.<br/>Last but not least &#0151; we love what we do!</p>
        </div>
</section>

<section id="joinussection">
    <div style="text-align: center; background: #1ebcc2;">
    <div style="height:200px;"></div>
        <div class="text-center">        
            <h2 class="pagetitle" >Talent welcome</h2>                        
        </div>
        <div style="display:inline-flex; height: 300px; max-width: 500px;">
            <p>Feel free to send us your CV.<br/><a href="mailto:careers@xcellen.com" style="color: #ffffff">careers@xcellen.com</a></p>
        </div>        
    </div>
</section>